<table class="table table-bordered">
    <thead>
        <tr>
        <!-- <th style="width: 10px">ID</th> -->
        <th>用户名</th>
        <th>最后登录时间</th>
        <th>注册时间</th>
        <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <% data.adminList.forEach(adminItem => { %>
            <tr>
                <!-- <td>648d3b13dbeadd55199ab0a7</td> -->
                <td><%= adminItem.adminName %></td>
                <td><%= adminItem.lastLoginTime %></td>
                <td><%= adminItem.regTime %></td>
                <td>
                    <button type="button" class="btn btn-danger" data-id="<%= adminItem._id %>">删除</button>
                    <button type="button" class="btn btn-success">修改密码</button>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>