@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1721871560995') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paixu:before {
  content: "\f0111";
}

.icon-xiangshang:before {
  content: "\f0113";
}

