@charset "UTF-8";

@font-face {
  font-family: "FZSJ-WSMQSJW";
  src: url("FZSJ-WSMQSJW.woff2") format("woff2"),
       url("FZSJ-WSMQSJW.woff") format("woff"),
       url("FZSJ-WSMQSJW.ttf") format("truetype"),
       url("FZSJ-WSMQSJW.eot") format("embedded-opentype"),
       url("FZSJ-WSMQSJW.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}