<div id="__sub-route-view">
  <div class="card adminlist">
    <div class="card-header">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
        data-target="#addAdminModal">添加管理员</button>
    </div>
    <!-- /.card-header -->
    <div class="card-body" id="amdinListBox">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 10px">ID</th>
            <th>用户名</th>
            <th>最后登录时间</th>
            <th>注册时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>648d3b13dbeadd55199ab0a7</td>
            <td>admin</td>
            <td>2023-06-17 12:50:22</td>
            <td>2023-06-17 12:48:19</td>
            <td>
              <button type="button" class="btn btn-danger" data-id="648d3b13dbeadd55199ab0a7">删除</button>
              <button type="button" class="btn btn-success">修改密码</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- 模态框 -->
  <div class="modal fade" id="addAdminModal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">添加管理员</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="adminForm" id="addAdminForm">
                        <div class="form-group">
                            <label for="exampleInputEmail1">管理员账号</label>
                            <input type="text" name="adminName" class="form-control" id="exampleInputEmail1" placeholder="请输入管理员账号">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">管理员密码</label>
                            <input type="password" name="passWord" class="form-control" id="exampleInputPassword1"
                                placeholder="请输入管理员密码">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword2">重复密码</label>
                            <input name="rePassWord" type="password" class="form-control" id="exampleInputPassword2"
                                placeholder="请输入管理员密码">
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="addAdminBtn" class="btn btn-primary">添加</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>