<div class="wrapper">
<!-- 在app.js入口文件中把 内容传过来 -->
    <!-- 顶部导航 -->
    <%= data.Header %>
    <!-- 侧边栏 -->
    <%= data.Sidebar %>
   
    <!-- 主要内容 -->
    <%= data.Content %>
    
    <!-- Footer -->
    <%= data.Footer %>

</div>

