/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
/* 设置默认字体 */
body,
button,
input,
select,
textarea {
  /* for ie */
  font: 12px/1.3 "Microsoft YaHei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  /* 用 Unicode 字符表示，使得在任何编码下都无问题 */
  color: #333;
}
h1 {
  font-size: 18px;
  /* 18px / 12px = 1.5 */
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
/* 将斜体扶正 */
b,
strong {
  font-weight: normal;
}
/* 将粗体扶细 */
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
/* 统一等宽字体 */
small {
  font-size: 12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul,
ol {
  list-style: none;
}
/* 重置文本格式元素 */
a {
  text-decoration: none;
  color: #666;
}
/* 重置表单元素 */
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */
}
/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 重置 hr */
hr {
  border: none;
  height: 1px;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
  overflow-y: scroll;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.topbar {
  min-width: 1200px;
  height: 30px;
  line-height: 30px;
  background: #eaeaea;
}
.topbar .container {
  display: flex;
  justify-content: space-between;
}
.topbar .container a {
  padding: 0 10px;
}
.topbar .container a:not(:last-child) {
  border-right: 1px solid #b3aeae;
}
.page-header {
  min-width: 1200px;
}
.page-header .container {
  display: flex;
  justify-content: space-between;
}
.page-header .container .logo {
  margin: 25px 45px;
  width: 175px;
  height: 56px;
}
.page-header .container form {
  display: flex;
  margin-top: 35px;
}
.page-header .container form input {
  box-sizing: border-box;
  width: 490px;
  height: 32px;
  padding: 0 4px;
  border: 2px solid #ea4a36;
  outline: none;
}
.page-header .container form button {
  width: 68px;
  height: 32px;
  color: #fff;
  background: #ea4a36;
  border: none;
}
.page-nav {
  min-width: 1200px;
  border-bottom: 2px solid #e1251b;
}
.page-nav .container {
  display: flex;
  height: 50px;
  line-height: 50px;
}
.page-nav .container .all-cates h2 {
  width: 210px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background: #e1251b;
}
.page-nav .container nav {
  display: flex;
}
.page-nav .container nav a {
  margin: 0 22px;
  color: #333;
  font-size: 16px;
}
.page-main {
  margin-top: 15px;
}
.page-main .path-nav {
  display: flex;
  padding: 9px 15px 9px 0;
}
.page-main .path-nav span:not(:last-child)::after {
  content: "/\00a0";
  padding: 0 5px;
  color: #ccc;
}
.page-main .product {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 15px;
}
.page-main .product .product-preview {
  width: 400px;
}
.page-main .product .product-preview .zoom-box {
  position: relative;
}
.page-main .product .product-preview .zoom-box .small-image {
  position: relative;
  width: 400px;
  height: 400px;
  border: 1px solid #dfdfdf;
  cursor: move;
}
.page-main .product .product-preview .zoom-box .small-image .mask-box {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
  background: rgba(255, 255, 255, 0.5);
}
.page-main .product .product-preview .zoom-box .large-image {
  display: none;
  position: absolute;
  left: 420px;
  top: 0;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #dfdfdf;
}
.page-main .product .product-preview .thumb-box {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.page-main .product .product-preview .thumb-box button {
  width: 10px;
  height: 54px;
  border: 1px solid #CCC;
  background: #ebebeb;
  cursor: pointer;
}
.page-main .product .product-preview .thumb-box button.thumb-prev {
  margin-right: 4px;
}
.page-main .product .product-preview .thumb-box .thumb-content {
  position: relative;
  width: 372px;
  height: 56px;
  overflow: hidden;
}
.page-main .product .product-preview .thumb-box .thumb-content .thumb-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  transition: left 300ms;
}
.page-main .product .product-preview .thumb-box .thumb-content .thumb-wrapper img {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  padding: 2px;
  border: 1px solid #ccc;
}
.page-main .product .product-box {
  width: 700px;
}
.page-main .product .product-box .product-price {
  padding-bottom: 5px;
  border-bottom: 1px solid #f21010;
}
.page-main .product .product-box .product-price .product-title {
  margin-top: 15px;
  font-size: 14px;
  line-height: 21px;
}
.page-main .product .product-box .product-price .product-message {
  margin-top: 15px;
  color: #e12228;
}
.page-main .product .product-box .product-price .price-area {
  margin-top: 10px;
  padding: 7px;
  line-height: 28px;
  background-color: #fee9ec;
}
.page-main .product .product-box .product-price .price-area .price-row::after {
  content: "";
  display: block;
  clear: both;
}
.page-main .product .product-box .product-price .price-area .price-row .price-title {
  float: left;
  margin-right: 15px;
}
.page-main .product .product-box .product-price .price-area .price-row .price-content {
  float: left;
}
.page-main .product .product-box .product-price .price-area .price-row .comment {
  float: right;
}
.page-main .product .product-box .product-price .price-area .price-row:first-child .price-content {
  color: #cc1122;
}
.page-main .product .product-box .product-price .price-area .price-row:first-child .price-content .icon {
  font-size: 16px;
}
.page-main .product .product-box .product-price .price-area .price-row:first-child .price-content .price {
  font-size: 24px;
  font-weight: 700;
}
.page-main .product .product-box .product-price .price-area .price-row:first-child .price-content .low {
  font-size: 12px;
}
.page-main .product .product-box .product-price .price-area .price-row:last-child {
  margin-top: 10px;
}
.page-main .product .product-box .product-price .price-area .price-row:last-child .price-content {
  width: 520px;
  color: #999;
}
.page-main .product .product-box .product-price .price-area .price-row:last-child .price-content .tag {
  padding: 3px;
  color: #fff;
  background-color: #c81623;
}
.page-main .product .product-box .product-price .support-row {
  display: flex;
  margin-top: 10px;
  line-height: 28px;
}
.page-main .product .product-box .product-price .support-row .support-title {
  margin-right: 15px;
}
.page-main .product .product-box .product-price .support-row .support-content {
  width: 520px;
  color: #999;
}
.page-main .product .product-box .product-options {
  margin-top: 10px;
  line-height: 28px;
}
.page-main .product .product-box .product-options .selected-box {
  display: flex;
  flex-wrap: wrap;
}
.page-main .product .product-box .product-options .selected-box .selected-tag {
  margin-right: 20px;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: snow;
  border: 1px solid #ddd;
}
.page-main .product .product-box .product-options .selected-box .selected-tag .close {
  margin-left: 20px;
  color: #f00;
  cursor: pointer;
}
.page-main .product .product-box .product-options dl {
  margin: 13px 0;
  display: flex;
}
.page-main .product .product-box .product-options dl dt {
  margin-right: 15px;
}
.page-main .product .product-box .product-options dl dd {
  margin-right: 5px;
  padding: 2px 14px;
  color: #666;
  line-height: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #eee #bbb #bbb #eee;
}
.page-main .product .product-box .product-options dl dd.active {
  color: #f00;
}
.page-main .product .product-box .product-options .shopcart {
  display: flex;
}
.page-main .product .product-box .product-options .shopcart .nums {
  position: relative;
  margin-right: 15px;
  width: 55px;
}
.page-main .product .product-box .product-options .shopcart .nums input {
  width: 38px;
  height: 37px;
  text-align: center;
  color: #555;
  border: 1px solid #ddd;
  outline: none;
}
.page-main .product .product-box .product-options .shopcart .nums span {
  position: absolute;
  right: 0;
  width: 15px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  color: #666;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  cursor: pointer;
  user-select: none;
}
.page-main .product .product-box .product-options .shopcart .nums span.plus {
  top: 0;
}
.page-main .product .product-box .product-options .shopcart .nums span.minus {
  bottom: 0;
}
.page-main .product .product-box .product-options .shopcart .btn {
  padding: 0 25px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  color: #fff;
  background-color: #e1251b;
}
.page-main .product .product-box .product-options .shopcart .btn:hover {
  text-decoration: none;
}
.page-main .product-section {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.page-main .product-section .product-siderbar {
  width: 210px;
  border: 1px solid #ccc;
}
.page-main .product-section .product-siderbar .tab-nav {
  display: flex;
  height: 40px;
}
.page-main .product-section .product-siderbar .tab-nav .tab-nav-item {
  width: 105px;
  text-align: center;
  line-height: 37px;
  border-top: 2px solid #fff;
  border-bottom: 1px solid #ccc;
}
.page-main .product-section .product-siderbar .tab-nav .tab-nav-item.active {
  border-top-color: #e1251b;
  border-bottom-color: #fff;
}
.page-main .product-section .product-siderbar .tab-panel .tab-panel-item {
  display: none;
  padding: 10px;
}
.page-main .product-section .product-siderbar .tab-panel .tab-panel-item.active {
  display: block;
}
.page-main .product-section .product-siderbar .tab-panel .tab-panel-item:first-child .cates {
  display: flex;
  flex-wrap: wrap;
}
.page-main .product-section .product-siderbar .tab-panel .tab-panel-item:first-child .cates li {
  width: 50%;
  line-height: 28px;
  border-bottom: 1px dashed #ededed;
}
.page-main .product-section .product-siderbar .tab-panel .tab-panel-item:first-child .products li {
  margin: 5px 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ededed;
}
.page-main .product-section .product-siderbar .tab-panel .tab-panel-item:first-child .products li img {
  width: 152px;
}
.page-main .product-section .product-siderbar .tab-panel .tab-panel-item:first-child .products li p {
  width: 100%;
}
.page-main .product-section .product-siderbar .tab-panel .tab-panel-item:first-child .products li p.price {
  font-size: 16px;
  color: #c81623;
}
.page-main .product-section .product-siderbar .tab-panel .tab-panel-item:first-child .products li a {
  margin: 5px 0;
  padding: 2px 14px;
  line-height: 18px;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
}
.page-main .product-section .product-intro {
  width: 980px;
}
.page-main .product-section .product-intro .product-colloction {
  margin-bottom: 15px;
  border: 1px solid #ddd;
}
.page-main .product-section .product-intro .product-colloction .choose-title {
  padding: 5px 0 5px 15px;
  color: #333;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}
.page-main .product-section .product-intro .product-colloction .choose-content {
  padding-top: 10px;
  height: 170px;
  display: flex;
}
.page-main .product-section .product-intro .product-colloction .choose-content .master-product {
  position: relative;
  width: 127px;
  height: 165px;
  text-align: center;
}
.page-main .product-section .product-intro .product-colloction .choose-content .master-product img {
  margin: 0 auto;
  width: 87px;
}
.page-main .product-section .product-intro .product-colloction .choose-content .master-product p {
  color: #c81623;
  font-size: 16px;
}
.page-main .product-section .product-intro .product-colloction .choose-content .master-product::after {
  content: "+";
  position: absolute;
  top: 48px;
  right: -25px;
  font-size: 16px;
}
.page-main .product-section .product-intro .product-colloction .choose-content .choose-products {
  width: 668px;
  height: 165px;
  display: flex;
}
.page-main .product-section .product-intro .product-colloction .choose-content .choose-products li {
  margin: 0 20px;
  width: 127px;
  text-align: center;
}
.page-main .product-section .product-intro .product-colloction .choose-content .choose-products li img {
  width: 120px;
  height: 130px;
}
.page-main .product-section .product-intro .product-colloction .choose-content .total-products {
  margin-left: 10px;
  padding-left: 10px;
  width: 153px;
  height: 165px;
  border-left: 1px solid #ddd;
}
.page-main .product-section .product-intro .product-colloction .choose-content .total-products p {
  margin: 10px 0;
}
.page-main .product-section .product-intro .product-colloction .choose-content .total-products p:nth-child(2) {
  font-weight: 700;
}
.page-main .product-section .product-intro .product-colloction .choose-content .total-products p:nth-child(3) {
  font-size: 16px;
  color: #B1191A;
}
.page-main .product-section .product-intro .product-colloction .choose-content .total-products a {
  display: inline-block;
  padding: 10px 25px;
  font-size: 16px;
  color: #fff;
  background-color: #e1251b;
}
.page-main .product-section .product-intro .product-colloction .choose-content .total-products a:hover {
  text-decoration: none;
}
.page-main .product-section .product-intro .product-intro-tab .tab-nav {
  display: flex;
  height: 40px;
  background: #ededed;
  border-left: 1px solid #ddd;
}
.page-main .product-section .product-intro .product-intro-tab .tab-nav .tab-nav-item {
  padding: 0 11px;
  text-align: center;
  line-height: 38px;
  background: #fff;
  border: 1px solid #ddd;
  border-left: none;
}
.page-main .product-section .product-intro .product-intro-tab .tab-nav .tab-nav-item.active {
  color: #fff;
  background: #e1251b;
}
.page-main .product-section .product-intro .product-intro-tab .tab-panel .tab-panel-item {
  display: none;
}
.page-main .product-section .product-intro .product-intro-tab .tab-panel .tab-panel-item:first-child ul li {
  margin: 10px 0;
}
.page-main .product-section .product-intro .product-intro-tab .tab-panel .tab-panel-item.active {
  display: block;
}
.guess-like {
  margin: 15px 0;
}
.guess-like .wrapper {
  border: 1px solid #ddd;
}
.guess-like .wrapper .like-title {
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  color: #333;
  background-color: #f1f1f1;
}
.guess-like .wrapper .like-list {
  padding: 15px 11px;
  display: flex;
}
.guess-like .wrapper .like-list .like-item {
  width: 196px;
}
.guess-like .wrapper .like-list .like-item img {
  margin: 0 auto;
  display: block;
  width: 167px;
  height: 123px;
}
.guess-like .wrapper .like-list .like-item .title {
  padding: 0 15px;
}
.guess-like .wrapper .like-list .like-item .price {
  padding: 0 15px;
  font-size: 16px;
  color: #c81623;
  margin-bottom: 20px;
}
.guess-like .wrapper .like-list .like-item .commet {
  padding: 0 15px;
}
.footer {
  background-color: #eaeaea;
}
.footer .footer-top {
  padding: 20px;
  border-bottom: 1px solid #e4e1e1;
  display: flex;
}
.footer .footer-top .footer-item {
  flex: 1 1 0;
  line-height: 18px;
}
.footer .footer-top .footer-item h4 {
  font-size: 14px;
}
.footer .footer-bottom {
  padding: 20px;
  text-align: center;
}
.footer .footer-bottom .footer-nav {
  display: flex;
  justify-content: center;
}
.footer .footer-bottom .footer-nav span {
  margin: 0 10px;
  width: 1px;
  height: 13px;
  background: #666;
}
.footer .footer-bottom p {
  margin: 10px 0;
}
.page-siderbar {
  position: fixed;
  right: -294px;
  top: 0;
  width: 300px;
  height: 100%;
  display: flex;
  transition: right 0.3s ease-in-out 0s;
}
.page-siderbar .siderbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 6px;
  background: #7a6e6e;
}
.page-siderbar .siderbar-nav .menu-btn {
  width: 35px;
  height: 35px;
  background: #7a6e6e url(../images/list.png) center / cover;
  cursor: pointer;
}
.page-siderbar .siderbar-nav .nav-item {
  position: relative;
  width: 35px;
  height: 35px;
  background: #7a6e6e;
}
.page-siderbar .siderbar-nav .nav-item a {
  display: block;
  color: #fff;
}
.page-siderbar .siderbar-nav .nav-item a i {
  display: block;
  position: relative;
  z-index: 100;
  width: 35px;
  height: 35px;
  background-color: #7a6e6e;
  background-image: url(../images/toolbars.png);
}
.page-siderbar .siderbar-nav .nav-item a i.vip-icon {
  background-position: -87px -174px;
}
.page-siderbar .siderbar-nav .nav-item a i.shopcar-icon {
  background-position: -50px 0px;
}
.page-siderbar .siderbar-nav .nav-item a i.follow-icon {
  background-position: -50px -100px;
}
.page-siderbar .siderbar-nav .nav-item a i.history-icon {
  background-position: -190px -150px;
}
.page-siderbar .siderbar-nav .nav-item a i.message-icon {
  background-position: -50px -150px;
}
.page-siderbar .siderbar-nav .nav-item a i.question-icon {
  background-position: -50px -250px;
}
.page-siderbar .siderbar-nav .nav-item a i.top-icon {
  background-position: -50px -250px;
}
.page-siderbar .siderbar-nav .nav-item a span {
  position: absolute;
  left: 35px;
  top: 0;
  width: 62px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background: #c81122;
  transition: left 0.3s ease-in-out 0.1s;
}
.page-siderbar .siderbar-nav .nav-item:hover {
  background: #c81122;
}
.page-siderbar .siderbar-nav .nav-item:hover a i {
  background-color: #c81122;
}
.page-siderbar .siderbar-nav .nav-item:hover a span {
  left: -60px;
}
.page-siderbar .siderbar-content {
  position: relative;
  z-index: 1;
  width: 294px;
  background: bisque;
}
.page-siderbar.open {
  right: 0;
}
.page-siderbar.open .siderbar-nav .menu-btn {
  background-image: url(../images/cross.png);
}
